.auth {
    background: #056475;
    background: -webkit-linear-gradient(to bottom, #056475, #71EF7A);
    background: linear-gradient(to bottom, #056475, #71EF7A);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .card {
        background: #2d2b478d;
        background: -webkit-linear-gradient(to bottom, #2d2b478d, #470f2cd7);
        background: linear-gradient(to bottom, #2d2b478d, #470f2cd7);
        border: none;
        border-radius: 30px;


        .emailStyle {
            border: none;
            border-bottom: 2px solid #fff;
            background: none;
            border-radius: 0;
            outline: none;
            color: #fff;

            &::placeholder {
                color: #fff;
                opacity: 0.6;
            }
        }
    }

}